extends ../layout/main

block variables
	block variables
	- var title = 'Главная';

block content
	section.top-slider
		.st-width
			.top-slider__content-wrap
				.top-slider__content
					.top-slider__list.js-top-slider
						-
							var list=[
								{title:'Изготовление металлоконструкций в Санкт-Петербурге', img:'top-slide1.jpg'},
								{title:'Изготовление металлоконструкций', img:'top-slide2.jpg'},
								{title:'Изготовление', img:'top-slide3.jpg'},
							]
						each item in list
							.top-slider__item(style="background-image: url(assets/img/"+item.img+")")
								.container
									.row
										.col-md-6
											.top-slider__title= item.title

											.top-slider__info
												.top-slider__icon
													img(src="assets/img/iso.png", alt="")
												.top-slider__text Производство, монтаж, проектирование и доставка металлоконструкций

				.top-slider__arr
					.container
						.row
							.col-12
								.js-top-slider-arr
								
				.top-slider__dots
					.container
						.row
							.col-12
								.js-top-slider-dots

	section.advant-wrap
		.container
			.row
				.col-12
					.advant
						-
							var list=[
								{icon:'ic-garantee', icon_width:'24', icon_height:'28', text:'Надежность и долговечность эксплуатации'},
								{icon:'ic-cash', icon_width:'30', icon_height:'22', text:'Доступная стоимость'},
								{icon:'ic-safe', icon_width:'28', icon_height:'28', text:'Простота транспортировки и хранения'}
							]
						each item in list
							.advant__item
								.advant__icon
									+svg(item.icon, item.icon, item.icon_width, item.icon_height)
								.advant__text= item.text

	section.sect-list.m-indent
		.sect-list__content
			.container
				.row
					.col-lg-6
						.sect-item
							.sect-item__img-wrap
								.sect-item__img(style="background-image: url(assets/img/sect1.jpg)")
							
							.sect-item__content
								.sect-item__title
									a(href="#") Цинкование
								
								ul.sect-menu
									-
										var list=[
											{text:'Гальваническое цинкование'},
											{
												text:'Горячее цинкование',
												sub:[
													{text:'Горячее цинкование в Архангельске'},
													{text:'Горячее цинкование в Калининграде'},
													{text:'Горячее цинкование в Мурманске'},
													{text:'Горячее цинкование в Петрозаводске'},
													{text:'Горячее цинкование в Вологде'},
												]
											},
											{
												text:'Оцинкованный прокат',
												sub:[
													{text:'Оцинкованный прокат в Архангельске'},
													{text:'Оцинкованный прокат в Калининграде'},
													{text:'Оцинкованный прокат в Мурманске'},
													{text:'Оцинкованный прокат в Петрозаводске'},
													{text:'Оцинкованный прокат в Вологде'},
												]
											},
											{text:'Термодиффузионное цинкование'},
											{text:'Желтый цинк'},
										]
									each item in list
										li.sect-menu__item.js-sect-menu-item
											a(href="#").sect-menu__link= item.text
												if(item.sub)
													span.sect-menu__arr.js-sect-menu-arr
														+svg('ic-arrow-down','ic-arrow-down', '11', '7')

											if(item.sub)
												ul.sect-menu__sub.js-sect-menu-sub
													each sub in item.sub
														li.sect-menu__sub-item
															a(href="№").sect-menu__sub-link= sub.text
					
					.col-lg-6
						.sect-item
							.sect-item__img-wrap
								.sect-item__img(style="background-image: url(assets/img/sect2.jpg)")
							
							.sect-item__content
								.sect-item__title
									a(href="#") Металлоконструкции
								
								ul.sect-menu
									-
										var list=[
											{text:'Оцинкованные металлоконструкции'},
											{text:'Строительные металлоконструкции'},
											{text:'Ангары'},
											{text:'Фермы'},
											{text:'Мойки самообслуживания'},
											{text:'Павильены'},
											{text:'Прогоны'},
										]
									each item in list
										li.sect-menu__item.js-sect-menu-item
											a(href="#").sect-menu__link= item.text

					.col-lg-6
						.sect-item
							.sect-item__img-wrap
								.sect-item__img(style="background-image: url(assets/img/sect3.jpg)")
							
							.sect-item__content
								.sect-item__title
									a(href="#") Металлические изделия
								
								ul.sect-menu
									-
										var list=[
											{text:'Фрезерные работы'},
											{text:'Гальваника'},
											{text:'Гибка металла'},
											{text:'Порошковая окраска'},
											{text:'Расточные работы'},
											{text:'Резка металла'},
											{text:'Сверление'},
											{text:'Токарная обработка'},
										]
									each item in list
										li.sect-menu__item.js-sect-menu-item
											a(href="#").sect-menu__link= item.text
											
					.col-lg-6
						.sect-item
							.sect-item__img-wrap
								.sect-item__img(style="background-image: url(assets/img/sect4.jpg)")
							
							.sect-item__content
								.sect-item__title
									a(href="#") Металлообработка
								
								ul.sect-menu
									-
										var list=[
											{text:'Анкерные болты'},
											{text:'Емкости и баки'},
											{
												text:'Кронштейны',
												sub:[
													{text:'Кронштейны в Архангельске'},
													{text:'Кронштейны в Калининграде'},
													{text:'Кронштейны в Мурманске'},
													{text:'Кронштейны в Петрозаводске'},
													{text:'Кронштейны в Вологде'},
												]
											},
											{text:'Лестницы'},
											{text:'Мачты освещения'},
											{text:'Металлическая площадка'},
											{text:'Металлические заборы'},
											{text:'Молниеотводы'},
										]
									each item in list
										li.sect-menu__item.js-sect-menu-item
											a(href="#").sect-menu__link= item.text
												if(item.sub)
													span.sect-menu__arr.js-sect-menu-arr
														+svg('ic-arrow-down','ic-arrow-down', '11', '7')

											if(item.sub)
												ul.sect-menu__sub.js-sect-menu-sub
													each sub in item.sub
														li.sect-menu__sub-item
															a(href="№").sect-menu__sub-link= item.text

	section.prices-wrap.m-indent
		.container
			.row
				.col-md-8
					h2 Стоимость изготовления конструкций из&nbsp;металла

			.row
				.col-12

					.table-site-wrap
						table.table-site
							tr
								th Наименование конструкций из металла
								th.text-right Ед. изм.
								th.text-right Цена

							-
								var list=[
									{title:'Металлоконструкция', text:'тонна', price:'от 45 000 ₽'},
									{title:'Металлоконструкции из нержавейки и алюминия', text:'тонна', price:'Договорная'},
									{title:'ЛМК', text:'тонна', price:'Договорная'},
									{title:'Фермы', text:'тонна', price:'Договорная'},
									{title:'Прогонны', text:'тонна', price:'от 20 700 ₽'},
									{title:'Колонны', text:'тонна', price:'от 9 000 ₽'},
									{title:'Сварная балка', text:'тонна', price:'от 11 700 ₽'},
								]
							each item in list
								tr
									td= item.title
									td.text-right= item.text
									td.text-right= item.price
		
	section.send-request.m-indent
		.st-width
			.send-request__content-wrap
				.send-request__content
					.container
						.row
							.col-lg-4.offset-lg-7
								.js-valid-form
									form.form-site.form-site_dark
										.form-site__title Отправить заявку
										.form-site__text Гарантируем высокое качество продукции и услуг
										
										.form-site__content
											.form-site__item.js-form-site-item
												.form-site__field
													input(type="text", placeholder="Ваше имя")

											.form-site__item.js-form-site-item
												.form-site__field
													input(type="text", class="js-phone", required="required", placeholder="Телефон*")

										.form-site__btn
											button(type="submit").btn.js-btn-submit Отправить

										.form-site__polit Отправляя заявку, вы соглашаетесь с 
											a(href="#") обработкой ваших персональных данных

				.send-request__img
					img(src="assets/img/welderman.png", alt="")

	section.steps-wrap.m-indent
		.container
			.row
				.col-12
					h2 Этапы сотрудничества

					.step-list
						-
							var list=[
								{num:'1', icon:'ic-paper', icon_width:'30', icon_height:'40', title:'Оставляете заявку', text:'Вы оставляете заявку или звоните нам', btn:'true'},
								{num:'2', icon:'ic-msg', icon_width:'41', icon_height:'40', title:'Мы вас консультируем', text:'Вы приезжаете к нам на производство и задаете интересующие вас вопросы'},
								{num:'3', icon:'ic-calc', icon_width:'33', icon_height:'40', title:'Рассчет стоимости', text:'Мы рассчитываем стоимость работ по чертежу'},
								{num:'4', icon:'ic-contract', icon_width:'34', icon_height:'36', title:'Договор', text:'Подписываем договор и начинаем работу', width:'long'},
								{num:'5', icon:'ic-delivery', icon_width:'37', icon_height:'36', title:'Доставка', text:'Доставляем готовые изделия вам на объект', width:'long'},
							]
						each item in list
							.step-item(class=item.width?'step-item_long':'')
								.step-item__num= item.num
								.step-item__icon
									+svg(item.icon, item.icon, item.icon_width, item.icon_height)
								.step-item__title= item.title
								.step-item__text= item.text

								if(item.btn)
									a(href="#").btn.btn_small Оставить заявку

	section.about.m-indent
		.st-width
			.about__content
				.container
					.row
						.col-12
							h2 О нас

					.row
						.col-lg-5
							p Компания «Анкор» осуществляет изготовление металлоконструкций с нанесением на них защитных антикоррозионных покрытий, в том числе методом горячего цинкования на производстве, оснащенном современным оборудованием.
							p Актуальность проблемы антикоррозионной защиты металлов основывается на необходимости защиты металлических конструкций, сохранения их внешнего вида, а также рационального использования природных ресурсов.

						.col-lg-6.offset-lg-1
							.player
								.player__content(style="background-image: url(assets/img/preview-video.jpg)")
								a(data-fancybox='video-gallery', href='https://www.youtube.com/watch?v=dl16e_mG6hg&t=9s').player__btn
									+svg('ic-play','ic-play', '24', '28')

	section.works-wrap
		.container
			.row
				.col-12
					h2 Наше производство
					
					.tabs-page.js-tabs-page
						ul.tabs-page__list.js-tabs-page-list
							li.tabs-page__item.js-tabs-page-item(data-item='tab1', data-id='0') Термодиффузия
							li.tabs-page__item.js-tabs-page-item(data-item='tab2', data-id='1') Гальваника
							li.tabs-page__item.js-tabs-page-item(data-item='tab3', data-id='2') Металлоконструкции
							li.tabs-page__item.js-tabs-page-item(data-item='tab4', data-id='3') Горячее цинкование

						.tabs-page__content.js-tabs-page-content
							#tab1.tabs-page__content-item.js-tabs-page-content-item.js-tabs-page-content-item
								.works-slider.js-works-slider
									-
										var list=[
											{img:'work-slide1.jpg'},
											{img:'work-slide2.jpg'},
											{img:'work-slide3.jpg'},
											{img:'work-slide2.jpg'},
											{img:'work-slide1.jpg'},
											{img:'work-slide3.jpg'},
										]
									each item in list
										.works-slider__item
											a(data-fancybox='works', data-src='assets/img/'+item.img).works-slider__img
												img(src='assets/img/'+item.img)


							#tab2.tabs-page__content-item.js-tabs-page-content-item.js-tabs-page-content-item
								| Второй контент
							#tab3.tabs-page__content-item.js-tabs-page-content-item.js-tabs-page-content-item
								| Третий контент
							#tab4.tabs-page__content-item.js-tabs-page-content-item.js-tabs-page-content-item
								| Четвёртый контент
